/* Givazza colors */
.text-color-pink {
  color: #FA26A0;
}

.text-color-black {
  color: #393939;
}

.text-color-grey {
  color: #C4C4C4;
}

.text-color-grey-light {
  color: #F9F9F9;
}

.welcome-header {
}

.welcome-quickstart {
}

.welcome-footer {
}